.sidebar {

    background-color: #333;
    color: white;
    width: 250px;
  height: 100vh; /* 100% de la altura de la ventana */
  
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
  }
  .sidebar-link {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer; /* Cambia el cursor a una mano al pasar el mouse por encima */
    transition: transform 0.2s;
  }
  
  .sidebar-link:hover {
    transform: scale(1.1); /* Escala al 110% de su tamaño original */


  }
  